[submodule "buildpacks/sbt/sbt-extras"]
	path = buildpacks/sbt/sbt-extras
	url = https://github.com/dwijnand/sbt-extras.git

[submodule "buildpacks/sbt/test-apps/heroku-scala-getting-started"]
	path = buildpacks/sbt/test-apps/heroku-scala-getting-started
	url = git@github.com:heroku/scala-getting-started.git
[submodule "buildpacks/maven/test-apps/heroku-java-getting-started"]
	path = buildpacks/maven/test-apps/heroku-java-getting-started
	url = git@github.com:heroku/java-getting-started.git
