[package]
name = "heroku-openjdk"
version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
fs_extra = "1.2.0"
java-properties = "1.4.1"
libcnb.workspace = true
libherokubuildpack.workspace = true
serde = { version = "1.0.144", features = ["derive"] }
sha2 = "0.10.6"
tempfile = "3.3.0"
toml = "0.5.9"
url = "2.3.1"
ureq = "2.5.0"
indoc = "1.0.7"

[dev-dependencies]
libcnb-test.workspace = true
