api = "0.4"

[buildpack]
id = "heroku/java"
version = "0.3.5"
name = "Java"
homepage = "https://github.com/heroku/buildpacks-jvm"
description = "Official Heroku buildpack for Java applications."
keywords = ["java"]
licenses = ["MIT"]

[[order]]

[[order.group]]
id = "heroku/jvm"
version = "0.1.4"

[[order.group]]
id = "heroku/maven"
version = "0.2.2"

[[order.group]]
id = "heroku/procfile"
version = "0.6.2"
optional = true

[[order]]

[[order.group]]
id = "heroku/gradle"
version = "0.0.35"

[[order.group]]
id = "heroku/procfile"
version = "0.6.2"
optional = true

[metadata]

[metadata.release]

[metadata.release.docker]
repository = "public.ecr.aws/r2f9u0w4/heroku-java-buildpack"
