api = "0.8"

[buildpack]
id = "heroku/java"
version = "0.6.10"
name = "Java"
homepage = "https://github.com/heroku/buildpacks-jvm"
description = "Official Heroku buildpack for Java applications."
keywords = ["java"]

[[buildpack.licenses]]
type = "BSD-3-Clause"

[[order]]

[[order.group]]
id = "heroku/jvm"
version = "1.0.10"

[[order.group]]
id = "heroku/maven"
version = "1.0.3"

[[order.group]]
id = "heroku/procfile"
version = "2.0.0"
optional = true

[metadata]
[metadata.release]
[metadata.release.docker]
repository = "docker.io/heroku/buildpack-java"
