api = "0.4"

[buildpack]
id = "heroku/java"
version = "0.3.13"
name = "Java"
homepage = "https://github.com/heroku/buildpacks-jvm"
description = "Official Heroku buildpack for Java applications."
keywords = ["java"]

[[licenses]]
type = "MIT"

[[order]]

[[order.group]]
id = "heroku/jvm"
version = "0.1.8"

[[order.group]]
id = "heroku/maven"
version = "0.2.5"

[[order.group]]
id = "heroku/procfile"
version = "0.6.2"
optional = true

[[order]]

[[order.group]]
id = "heroku/gradle"
version = "0.0.35"

[[order.group]]
id = "heroku/procfile"
version = "0.6.2"
optional = true

[metadata]

[metadata.release]

[metadata.release.docker]
repository = "public.ecr.aws/heroku-buildpacks/heroku-java-buildpack"
