[package]
name = "jvm-function-invoker-buildpack"
version = "0.0.0"
publish = false
edition = "2018"

[dependencies]
indoc = "1.0.3"
libcnb = "0.2.0"
libherokubuildpack = { version = "0.1.1", features = ["toml"] }
serde = "1.0.126"
thiserror = "1.0.25"
toml = "0.5.8"

[dev-dependencies]
tempfile = "^3.2.0"
