[package]
name = "jvm-function-invoker-buildpack"
version = "0.0.0"
publish = false
edition = "2021"
rust-version = "1.56"

[dependencies]
indoc = "1.0.4"
libcnb = "0.6.0"
libherokubuildpack = { version = "0.5.0", features = ["toml"] }
serde = "1.0.136"
thiserror = "1.0.30"
toml = "0.5.8"

[dev-dependencies]
tempfile = "3.3.0"
