[package]
name = "buildpacks-jvm-shared"
rust-version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
indoc = "2"
java-properties = "2"
libherokubuildpack = { version = "=0.30.2", default-features = false, features = ["log", "command"] }
