[package]
name = "maven"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
indoc = "1.0.7"
java-properties = "1.4.1"
libcnb = "0.9.0"
libherokubuildpack = "0.9.0"
serde = { version = "1.0.142", features = ["derive"] }
tempfile = "3.3.0"
shell-words = "1.1.0"
regex = "1.6.0"

[dev-dependencies]
libcnb-test = "0.6.0"
ureq = "2.5.0"
