[package]
name = "maven"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
indoc = "1.0.7"
java-properties = "1.4.1"
libcnb.workspace = true
libherokubuildpack.workspace = true
serde = { version = "1.0.152", features = ["derive"] }
tempfile = "3.3.0"
shell-words = "1.1.0"
regex = "1.7.0"

[dev-dependencies]
libcnb-test.workspace = true
ureq = "2.5.0"
